.home {
    background-color: #F5F3ED;
}

.home-box {
    border-radius: 25px !important;
}

.ui.button.gold-button {
    background-color: #907139 !important;
}

.body {
    background-color: #F5F3ED;
}
.login {
  padding-top: 300px;
  background-size: cover;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-register {
  text-align: center;
  position: inherit;
}

.login-background {
  background-color: #F5F3ED;
}
